nav{
    color: #0471a6;
}

.center-form1{
    margin: auto;
    width: 60%;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 30%;
    z-index: 15;
}

.center-form2{
    margin: auto;
    width: 60%;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 27%;
    z-index: 15;
}