<!--ALUMNI: 4 COLUMNS PER ROW-->
{% extends "navbar2.html" %}

{{ super() }}

{% block links %}

<style>                                     

* {
  box-sizing: border-box;
}

button {                                                         
  color: rgb(19, 214, 244);
  background-color: rgb(6, 69, 111);
  margin-left: 70%;
  margin-top: 1%;
  position: relative;
  padding: 5px;
  border: none;
 

}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>


<head>
    <div id="navBar">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/dashboard">Profile</a></li>
            <li><a href="/alumni">Alumni</a></li>
            <li><a href="">Friends</a></li>
            <li><a href="/jobs">Job Board</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Log Out</a></li>
        </ul>
        <br>
       </div>
</head>
  
<body>
      <!--INSERT CONTENT UNDER CLASS: "FIGURE"-->  
       <!--"VIEW DETAILS BUTTON AVAILABLE - onclick attribute can be filled out"--> 
   <div class="gallery-container">
    <h4>Discover UWI Alumni:</h4>
       <div class="gallery">
           
            <div class="row">
                <div class = "column">
                      
                    <figure>        
                            <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                            <figcaption>Nicky Boy</figcaption>
                            <button type="button" onclick="">View Details</button>           <!--button to json dump profile data?-->
                        </figure>
                </div>

                <div class = "column">
                    <figure>
                        <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                        <figcaption>Nicky Boy</figcaption>
                        <button type="button" onclick="">View Details</button>
                    </figure>
                </div>

                <div class = "column">
                    <figure>
                        <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                        <figcaption>Nicky Boy</figcaption>
                        <button type="button" onclick="">View Details</button>
                    </figure>
                </div>

                <div class = "column">
                    <figure>
                        <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                        <figcaption>Nicky Boy</figcaption>
                            <button type="button" onclick="">View Details</button>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class = "column">
                    <figure>
                        <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                        <figcaption>Nicky Boy</figcaption>
                            <button type="button" onclick="">View Details</button>
                    </figure>
            </div>

            <div class = "column">
                <figure>
                    <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                    <figcaption>Nicky Boy</figcaption>
                            <button type="button" onclick="">View Details</button>
                </figure>
            </div>

            <div class = "column">
                <figure>
                    <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                    <figcaption>Nicky Boy</figcaption>
                    <button type="button" onclick="">View Details</button>
                </figure>
            </div>

            <div class = "column">
                <figure>
                    <img src="https://avatars.sched.co/7/43/5091711/avatar.jpg?cdc" id="profile1">
                    <figcaption>Nicky Boy</figcaption>
                            <button type="button" onclick="">View Details</button>
                </figure>
            </div>

            </div>
       </div>
    </div>









   </div>


</body>



{% endblock %}