{% extends "navbar2.html" %}

{{ super() }}

{% block content %}
    <div class="content-container">
        <div class="header">
            Your Profile
        </div>

        <div class="section">
            <div class="label">
                First Name
            </div>
            <div class="value">
                Bobby
            </div>
        </div>

        <div class="section">
            <div class="label">
                Last Name
            </div>
            <div class="value">
                Smith
            </div>
        </div>

        <div class="section">
            <div class="label">
                Email
            </div>
            <div class="value">
                bob@gmail.com
            </div>
        </div>

        <div class="section">
            <div class="label">
                Graduation Year
            </div>
            <div class="value">
                2019
            </div>
        </div>

        <div class="section">
            <div class="label">
                Faculty
            </div>
            <div class="value">
                Faculty of Science and Technology
            </div>
        </div>

        <div class="section">
            <div class="label">
                Department
            </div>
            <div class="value">
                Department of Computing and IT
            </div>
        </div>

        <div class="section">
            <div class="label">
                Programme
            </div>
            <div class="value">
                BSc Computer Science (Special)
            </div>
        </div>

        <a class="edit-btn btn-large waves-effect waves-light indigo">Edit Profile</a>
    </div>
{% endblock %}