{% extends "navbar2.html" %}

{{ super() }}

{% block content %}
    <div class="content-container">
        <div class="header">
            Your Profile
        </div>

        <div class="section">
            <div class="label">
                First Name
            </div>
            <div class="value">
                {{current_user.firstName}}
            </div>
        </div>

        <div class="section">
            <div class="label">
                Last Name
            </div>
            <div class="value">
                {{current_user.lastName}}
            </div>
        </div>

        <div class="section">
            <div class="label">
                Email
            </div>
            <div class="value">
                {{current_user.email}}
            </div>
        </div>

        <div class="section">
            <div class="label">
                Graduation Year
            </div>
            <div class="value">
                {% if 'gradYear' in alumnus_info %}
                    {{alumnus_info.gradYear}}
                {% else %}
                    N/A
                {% endif %}
            </div>
        </div>

        <div class="section">
            <div class="label">
                Faculty
            </div>
            <div class="value">
                {% if 'faculty' in alumnus_info %}
                    {{alumnus_info.faculty}}
                {% else %}
                    N/A
                {% endif %}
            </div>
        </div>

        <div class="section">
            <div class="label">
                Department
            </div>
            <div class="value">
                {% if 'department' in alumnus_info %}
                    {{alumnus_info.department}}
                {% else %}
                    N/A
                {% endif %}
            </div>
        </div>

        <div class="section">
            <div class="label">
                Programme
            </div>
            <div class="value">
                {% if 'programme' in alumnus_info %}
                    {{alumnus_info.programme}}
                {% else %}
                    N/A
                {% endif %}
            </div>
        </div>

        <a href="/editProfile" class="edit-btn btn-large waves-effect waves-light indigo">Edit Profile</a>
    </div>
{% endblock %}