{% extends "navbar2.html" %}

{{ super() }}


{% block content %}

<style>
summary {
  color:rgb(9, 134, 179);
}



</style>

<div class="job-navbar">
    <nav class="indigo" id="nav-job">
        <h2 style="text-align:center">Job Board</h2>
        <input type="text" placeholder="Search by keyword...">
    </nav>
</div>

<a href="/addjob" class="waves-effect waves-light indigo btn">Add New Job Listing +</a>

<div class="row" col-span="2" id="job-listings">

    
    <table id="jobsTable">
        <thead>
          <tr>
              <th></th>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
         
          </tr>

          <tr>
            <td><img src="https://www.placecage.com/200/300"></td>
            <td text-align="left">
              <h5>Construction Worker Wanted (5+ years Experience Required)</h5> 
              <details>
                <summary style="font-size:large">View Details</summary>
                We are looking for an experienced, driven civil engineer with a wealth of industry knowledge. To ensure success, the ideal candidate 
                should be comfortable splitting their hours between the office, on-site visits, and attending council meetings. 
                
                 The civil engineer should be a critical thinker and have sound subject knowledge of mathematics and physics to identify
                 and solve engineering problems. You must also possess a certain level of creativity in order to present 
                 innovative solutions and improvements to technical processes. 
                 
                 The successful candidate will be able to effectively communicate ideas, make recommendations, and negotiate project details with their team, subcontractors, and clients. You will be expected to develop detailed designs,do feasibility assessments and site inspections, prepare and implement project plans, as well as monitorand optimize safety procedures, production processes, and regulatory compliance.
            </details>
              <td><a class="waves-effect waves-light indigo btn">Update</a></td>
          </tr>

          <tr>
            <td><img src="https://www.placecage.com/200/300"></td>
            <td text-align="left">
              <h5>Software Engineer Hiring (No Pay)</h5> 
              <details>
                <summary style="font-size:large">View Details</summary>
                The devloper engineer should be a critical thinker and have sound subject knowledge of mathematics and physics to identify
                and solve engineering problems. You must also possess a certain level of creativity in order to present 
                innovative solutions and improvements to technical processes.
            </details>
              <td><a class="waves-effect waves-light indigo btn">Update</a></td>
          </tr>

          <tr>
            <td><img src="https://www.placecage.com/200/300"></td>
            <td text-align="left">
              <h5>Ease Up Needed Urgently (In BULK)</h5> 
              <details>
                <summary style="font-size:large">View Details</summary>
                Im at my wits end sir please have mercy
                Somebody call 911 shawdy fire burning on the dancefloor whoa-

              
            </details>
              <td><a class="waves-effect waves-light indigo btn">Update</a></td>
          </tr>

        </tbody>
      </table>

</div>

<script>



  
</script>







{% endblock %}